{% extends 'layouts/admin.html' %}
{% block title %} Edit translation - Dixionary {% endblock %}
{% block content %}
{% include 'partials/messages.html' %}
<div class="card shadow-sm mb-3">
  <div class="card-header bg-light text-uppercase">Edit translation</div>
  <div class="card-body">
    <form action="#" method="post" enctype="multipart/form-data">
      <div class='row'>
        <div class="col-md-4 mb-2">
          <label for="word" class="form-label">Original word</label>
          <input type="text" class="form-control" name="original_word" value="{{ translation.definition.word.word }}" disabled='true' />
        </div>
        <div class='col-md-4 mb-2'>
          <label for='word' class='form-label'>Translated word</label>
          <input type='text' class='form-control' name='word' value="{{ translation.word }}" />
        </div>
        <div class="col-md-4 mb-2">
          <label for="language" class="form-label">Language</label>
          <select name='language' class='form-control'>
            <option value='{{ translation.language.id }}'>{{ translation.language.language }}</option>
            {% for language in languages %}
            <option value="{{ language.id }}">{{ language.language }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-6 mb-2">
            <label for="definition" class="form-label">Definition</label>
            <textarea class='form-control' rows="5" disabled='true'>{{ translation.definition.definition }}</textarea>
        </div>
        <div class="col-md-6 mb-2">
            <label for="definition" class="form-label">Translation</label>
            <textarea class='form-control' name='translation' rows="5">{{ translation.translation }}</textarea>
        </div>
      </div>
      {% csrf_token %}
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary" type="submit">Continue</button>
        <a href="{% url 'dictionary:translation.index' %}" class="btn btn-secondary">View translations</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
