{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Dixionary{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block styles %}{% endblock %}
  </head>
  <body>
    <main class="container-fluid">
      <div class="row m-3">
        <div class="col mb-3">{% block content %}{% endblock %}</div>
        <div class="col-md-2">
          <div class="card card-body text-center shadow-sm">
            <h5 class="text-truncate fw-bold">{{ user.username }}</h5>
            <p class="text-truncate m-0">{{ user.email }}</p>
          </div>
          <div class="list-group my-3 shadow-sm">
            <a href="{% url 'home' %}" class="list-group-item list-group-item-action">
              Home <span class="float-end">&rarr;</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
              Dashboard <span class="float-end">&rarr;</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              Word <span class="float-end">&rarr;</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              Language <span class="float-end">&rarr;</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              Settings <span class="float-end">&rarr;</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              User profile <span class="float-end">&rarr;</span>
            </a>
            <a href="{% url 'stats' %}" class="list-group-item list-group-item-action">
              Stats <span class="float-end">&rarr;</span>
            </a>
            <a href="{% url 'logout' %}" class="list-group-item list-group-item-action">
              Log out <span class="float-end">&rarr;</span>
            </a>
          </div>
        </div>
      </div>
    </main>
    {% block scripts %}{% endblock %}
    <script src="{% static 'js/boostrap.bundle.min.js' %}"></script>
  </body>
</html>
